@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=block');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=block');
@import url('https://fonts.googleapis.com/css2?family=Product+Sans:wght@400;700&display=block');

:root {
  --fontInter: 'Inter', sans-serif;
  --fontAllura: 'Allura', cursive;
  --fontProductSans: 'Product Sans', sans-serif;
}