:root,
[data-theme='dark'] {
  --dc001: var(--background_dark);
  --dc002: var(--black01);
  --dc003: var(--black300);
  --dc004: var(--black300);
  --dc005: var(--black400);
  --dc006: var(--black500);
  --dc007: var(--black600);
  --dc008: var(--blue_opacity5);
  --dc009: var(--blue_opacity10);
  --dc010: var(--blue_opacity10);
  --dc011: var(--gray100);
  --dc012: var(--gray200);
  --dc013: var(--gray200);
  --dc014: var(--gray300);
  --dc015: var(--gray300);
  --dc016: var(--gray400);
  --dc017: var(--white500);
  --dc018: var(--white500);
  --dc019: var(--white500);
  --dc020: var(--black500);
  --dc021: var(--white_dark100);
  --dc022: var(--white_dark100);
  --dc023: var(--white_dark200);
  --dc024: var(--white_opacity5);
  --dc025: var(--white_opacity5);
  --dc026: var(--white_opacity5);
  --dc027: var(--white_opacity5);
  --dc028: var(--white_opacity5);
  --dc029: var(--white_opacity5);
  --dc030: var(--white_opacity10);
  --dc031: var(--white_opacity10);
  --dc032: var(--white_opacity10);
  --dc033: var(--white_opacity10);
  --dc034: var(--white_opacity10);
  --dc035: var(--white_opacity10);
  --dc036: var(--background_light);
  --dc037: var(--black_opacity30);
  --dc038: var(--white_opacity5);
  --dc039: var(--blue_opacity10);
  --dc040: var(--white_opacity10);
  --dc041: var(--white_dark200);
  --dc042: var(--blue_opacity30);
  --dc043: var(--darkTablerHeader);
  --dc044: var(--white_opacity10);
  --dc045: var(--black400);
  --dc046: var(--white_opacity10);
  --dc047: var(--black300);
  --dc048: var(--black200);
  --dc049: var(--white_opacity10);
  --dc050: var(--black300);
  // --dc051: var(--white_opacity10);
  --dc052: var(--darkTablerHeader2);
  --dc053: var(--darkOverlay);
  --dc054: var(--gray500);
  --dc055: var(--darkOverlay2);
  --dc056: var(--white_dark200);
  --dc057: var(--black_opacity70);
  --dc058: var(--gray300);
  --dc059: var(--white_opacity10);
  --dc060: var(--gray100);
  --dc061: var(--gray400);
  --dc062: var(--blue_opacity10);
  --dc063: var(--white_dark200);
  --dc064: var(--gray500);
  --dc065: var(--black400);
  --dc066: var(--white_opacity40);
  --dc067: var(--white500);
  --dc068: var(--black400);
  --dc069: var(--darkOverlay3);
  --dc070: var(--black400);
  --dc071: var(--black_opacity70);
  --dc072: var(--black500);
  --dc073: var(--darkOverlay);
  --dc074: var(--black300);
  --dc075: var(--black_opacity70);
  --dc076: var(--black_opacity70);
}