[data-theme='light'] {
  --dc001: var(--background_light);
  --dc002: var(--white500);
  --dc003: var(--black400);
  --dc004: var(--blue300);
  --dc005: var(--blue200);
  --dc006: var(--white500);
  --dc007: var(--white500);
  --dc008: var(--blue100);
  --dc009: var(--blue_opacity5);
  --dc010: var(--white500);
  --dc011: var(--gray500);
  --dc012: var(--gray400);
  --dc013: var(--gray500);
  --dc014: var(--gray400);
  --dc015: var(--gray500);
  --dc016: var(--blue300);
  --dc017: var(--black500);
  --dc018: var(--blue500);
  --dc019: var(--gray400);
  --dc020: var(--orange200);
  --dc021: var(--black100);
  --dc022: var(--white500);
  --dc023: var(--white500);
  --dc024: var(--black100);
  --dc025: var(--black200);
  --dc026: var(--black_opacity10);
  --dc027: var(--blue100);
  --dc028: var(--blue_opacity5);
  --dc029: var(--white500);
  --dc030: var(--black100);
  --dc031: var(--black200);
  --dc032: var(--black_opacity10);
  --dc033: var(--blue200);
  --dc034: var(--blue_opacity5);
  --dc035: var(--white500);
  --dc036: var(--background_dark);
  --dc037: var(--black_opacity5);
  --dc038: var(--black_opacity5);
  --dc039: var(--black100);
  --dc040: var(--blue_opacity10);
  --dc041: var(--black100);
  --dc042: var(--blue_opacity10);
  --dc043: var(--black100);
  --dc044: var(--black_opacity5);
  --dc045: var(--black300);
  --dc046: var(--black300);
  --dc047: var(--black100);
  --dc048: var(--black400);
  --dc049: var(--black400);
  --dc050: var(--black200);
  // --dc051: var(--black_opacity5);
  --dc052: var(--lightTablerHeader);
  --dc053: var(--lightOverlay);
  --dc054: var(--black100);
  --dc055: var(--lightOverlay2);
  --dc056: var(--background_light);
  --dc057: var(--black_opacity40);
  --dc058: var(--gray100);
  --dc059: var(--background_light);
  --dc060: var(--gray400);
  --dc061: var(--gray300);
  --dc062: var(--black_opacity5);
  --dc063: var(--black_opacity5);
  --dc064: var(--gray300);
  --dc065: var(--black_opacity10);
  --dc066: var(--white_dark400);
  --dc067: var(--gray500);
  --dc068: var(--black_opacity5);
  --dc069: var(--lightOverlay3);
  --dc070: var(--black200);
  --dc071: var(--white_opacity70);
  --dc072: var(--blue200);
  --dc073: var(--lightOverlay);
  --dc074: var(--white500);
  --dc075: var(--black_opacity10);
}
