:root {
  --heading_one: 2.25rem; /* 36px / 16px */
  --heading_two: 1.5rem; /* 24px / 16px */
  --heading_three: 1.25rem; /* 20px / 16px */
  --heading_fourth: 1.125rem; /* 18px / 16px */
  --heading_fifth: 1.125rem; /* 18px / 16px */
  --heading_six: 1rem; /* 16px / 16px */

  --sub_heading_one: 1rem; /* 16px / 16px */
  --sub_heading_two: 1rem; /* 16px / 16px */
  --sub_heading_three: 0.875rem; /* 14px / 16px */
  --sub_heading_four: 0.875rem; /* 14px / 16px */

  --body_one: 1rem; /* 16px / 16px */
  --body_two: 0.875rem; /* 14px / 16px */
  --body_content_one: 1.25rem; /* 20px / 16px */
  --body_content_two: 1.125rem; /* 18px / 16px */
  --body_content_three: 1rem; /* 16px / 16px */

  --caption: 0.75rem; /* 12px / 16px */
  --caption_two: 0.75rem; /* 12px / 16px */
  --caption_three: 0.75rem; /* 12px / 16px */

  --small_one: 0.625rem; /* 10px / 16px */
  --small_two: 0.625rem; /* 10px / 16px */
}
