.selected-wrapper {
  padding: 14px 16px;
  border: var(--dc045) 1px solid;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line-limit {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  padding: 8px 16px;
  color: var(--dc014) !important;
}

.active {
  background-color: var(--dc038);
}

.container {
  overflow-y: auto;
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: Calc(100% - 20px);
}

.disable {
  * {
    color: var(--dc014) !important;
  }
}

.item-wrapper {
  padding: 8px 16px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // transition: background 0.3s;
}

.label {
  color: var(--dc014);
}
