@import '../../themes/theme.scss';

@mixin variantTypography($variant) {
  font-family: var(--fontInter);

  @if $variant ==heading_one {
    font-size: var(--heading_one);
    line-height: var(--leading_heading_one);
    font-weight: var(--fw700);
  } @else if $variant ==heading_two {
    font-size: var(--heading_two);
    line-height: var(--leading_heading_two);
    font-weight: var(--fw700);
  } @else if $variant ==heading_three {
    font-size: var(--heading_three);
    line-height: var(--leading_heading_three);
    font-weight: var(--fw700);
  } @else if $variant ==heading_fourth {
    font-size: var(--heading_fourth);
    line-height: var(--leading_heading_fourth);
    font-weight: var(--fw700);
  } @else if $variant ==heading_fifth {
    font-size: var(--heading_fifth);
    line-height: var(--leading_heading_fifth);
    font-weight: var(--fw500);
  } @else if $variant ==heading_six {
    font-size: var(--heading_six);
    line-height: var(--leading_heading_six);
    font-weight: var(--fw700);
  } @else if $variant ==sub_heading_one {
    font-size: var(--sub_heading_one);
    line-height: var(--leading_sub_heading_one);
    font-weight: var(--fw600);
  } @else if $variant ==sub_heading_two {
    font-size: var(--sub_heading_two);
    line-height: var(--leading_sub_heading_two);
    font-weight: var(--fw500);
  } @else if $variant ==sub_heading_three {
    font-size: var(--sub_heading_three);
    line-height: var(--leading_sub_heading_three);
    font-weight: var(--fw600);
  } @else if $variant ==sub_heading_four {
    font-size: var(--sub_heading_four);
    line-height: var(--leading_sub_heading_four);
    font-weight: var(--fw500);
  } @else if $variant ==body_one {
    font-size: var(--body_one);
    line-height: var(--leading_body_one);
    font-weight: var(--fw400);
  } @else if $variant ==body_two {
    font-size: var(--body_two);
    line-height: var(--leading_body_two);
    font-weight: var(--fw400);
  } @else if $variant ==body_content_one {
    font-size: var(--body_content_one);
    line-height: var(--leading_body_content_one);
    font-weight: var(--fw400);
  } @else if $variant ==body_content_two {
    font-size: var(--body_content_two);
    line-height: var(--leading_body_content_two);
    font-weight: var(--fw400);
  } @else if $variant ==body_content_three {
    font-size: var(--body_content_three);
    line-height: var(--leading_body_content_three);
    font-weight: var(--fw400);
  } @else if $variant ==caption {
    font-size: var(--caption);
    line-height: var(--leading_caption);
    font-weight: var(--fw400);
  } @else if $variant ==caption_two {
    font-size: var(--caption_two);
    line-height: var(--leading_caption_two);
    font-weight: var(--fw500);
  } @else if $variant ==caption_three {
    font-size: var(--caption_three);
    line-height: var(--leading_caption_three);
    font-weight: var(--fw600);
  } @else if $variant ==small_one {
    font-size: var(--small_one);
    line-height: var(--leading_small_one);
    font-weight: var(--fw400);
  } @else if $variant ==small_two {
    font-size: var(--small_two);
    line-height: var(--leading_small_two);
    font-weight: var(--fw500);
  }
}
