.wrapper {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--background_dark);
  top: 0;
  width: 100vw;
  height: 56px;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  transition: ease 0.4s;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  opacity: 1;
}
.title {
  position: absolute;
  width: 100%;
  padding: 0 45px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content-left {
  position: absolute;
  width: fit-content;
  left: 0;
  z-index: 1;
  padding: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.content-right {
  position: absolute;
  width: fit-content;
  z-index: 1;
  padding: 16px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
