.selected-wrapper {
  padding: 14px 16px;
  border: var(--dc045) 1px solid;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line-limit {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  padding: 8px 16px;
  color: var(--gray300) !important;
}

.container {
  overflow-y: auto;
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: Calc(100% - 20px);
}
.disable {
  * {
    color: var(--gray300) !important;
  }
}

// .active {
// background-color: var(--white_opacity5);
// }

.item-wrapper {
  padding: 8px 16px;
  user-select: none;
  // transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checked-icon {
  opacity: 0;
}
.active {
  & .checked-icon {
    opacity: 1;
  }
}
